#nav-mobile.nav-mobile.side-nav.fixed{:style=>"padding: 0 !important;"}
  .logo.z-depth-1.m-b-20.green.darken-4{:style=>"max-height:48px;height:48px;"}
    %a.button-back.top-nav.full{:href => "#", :style=>""}
      %i.material-icons.white-text.medium arrow_back
    .nav-wrapper
      %h5{:style=>"color:white !important"}= $sitename

  %ul.tabs
    %li.tab
      %a{:href=>"#nmea"} Status
    %li.tab
      %a{:href=>"#chart"} Chart
    %li.tab
      %a{:href=>"#sky"} Sky
    %li.tab
      %a{:href=>"#weather"} Weather
    %li.tab
      %a{:href=>"#board"} Whiteboard

