* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

textarea, input[type=text] {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.clearfix {
overflow: auto;
zoom: 1;
}

.clearfix:before, .clearfix:after {
clear: both;
}

.material-icons.prefix.yes, .material-icons.prefix.no {
display:none;
}

.input-field.sw {
margin: -6px 0;
}

.input-field i.prefix {
margin: 8px 0 0;
}

.switch {
padding:18px 0;
}

.input-field.sw .left label {
  font-size: 1rem;
  line-height:56px;
  margin-left: 40px;
  color: #000;
}

.input-field > label {
  color: #000;
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    top: -4px;
    left: 32px;
    transform: none;
  }
}

.full { width: 100%; }

.navbar-fixed { z-index: 9999; }

.errors { display:none; }

.bold { font-weight: bold; }


/*body {
  background: #ddd;
}
a { cursor: pointer; }
.flex-grid {
  display: flex;
  flex-flow: row wrap;
}
.flex-grid.vertical {
  flex-directon: column;
}
.flex-grid.no-wrap {
  flex-wrap: nowrap;
}
.col { 
  flex: 1; 
  margin: 4px;
  padding: 0 6px;
  background-color: #fff;
}
.col2 { 
  flex: 2; 
  margin: 4px; 
  padding: 0 6px;
  background-color: #fff;
}
.nowrap {
  white-space: nowrap;
  display: inline;
}
.rw3 {
  background-image:url("/img/rw3.svg") !important;
  transition: 1s !important;
}
.leaflet-control-scale-line {
  background-color: transparent;
}
canvas.leaflet-zoom-animated { 
  height: calc( 100% - 48px ) !important;
}
.svg {
  width: 100%;
  max-width: 100%;
  height: 264px;
}
#weather { text-align:center;}
#weather i { font-size: 32px;}
#weather span { font-size: 14px;}
#weather i.wi-wind { font-size: 42px; color:#aaa;}
li {
  list-style-type: none;
  padding: 0 12px;
}
.inline > * {
  display:inline;
}
li.large > *:not(h4) {
  font-size:24px;
}
li > small {
  font-size: 16px !important;
  color: #666;
}
table.full { width: 100%; max-width: 100%; }
table.full tbody { width: 100%; }
table.full tbody tr { width: 100%; }
table.inline tbody td > * { display: inline; }
.svgwrap {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: visible;
  min-height: 280px;
  margin-bottom:12px;
}
#sky table tbody {
  font-weight: bold;
}
#sky table tr td { color: #333; }
#sky table tr.below td { color: #999; }
#sky table tr.high td { color: #06c; }
#sky table tr.higher td { color: #060; }
#sky table tr.active { background-color: #ccc; }
#gauge-container {
}
#weather .leftie { text-align: left; font-size:24px; }
#weather .attr { font-size:16px;color:#666; }
#weather .huge { font-size:48px; }
#weather .middle { font-size:20px;margin:0; }
#weather .temp { font-size:36px; }
#weather .midicon { font-size:18px; margin-right:4px; }
#weather .windicon { font-size:64px !important; }
#weather span.wind { font-size:24px; }

.dropdown-content li > a, .dropdown-content li > span { color: #666; }
.full { width: 100%; }
input.select-dropdown, #period { margin-bottom: 10px !important; }
.block {display:block;}
.nobg { background-color: transparent; }
*/
