* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

textarea, input[type=text], #plain * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.clearfix {
  overflow: auto;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.material-icons.prefix.yes, .material-icons.prefix.no {
  display:none;
}

.input-field.sw {
  margin: -6px 0;
}

.input-field i.prefix {
  margin: 8px 0 0;
}

.switch {
  padding:18px 0;
}

.switch.sys {
  position:absolute;
  top:12px;
  right:24px;
}

.card-action.off{
  display:none;
}

.card-valid {
  width: 40px;
  min-width: 40px;
  height: 40px;
  max-height: 40px;
}

.card-valid i {
  margin: 0 10px 0 -2px;
}

.card-content > .clearfix {
  overflow: visible;
}

.card.lubrication .right i {
  font-size: 48px !important;
  line-height: 32px;
  cursor: pointer;
}


.input-field.sw .left label {
  font-size: 1rem;
  line-height:56px;
  margin-left: 40px;
  color: #000;
}

.input-field > label {
  color: #000;
}

.input-field > .unit {
  color: #999;
  position:absolute;
  right: 40px;
  top :12px;
}

.lubedel {
  cursor: pointer;
}

.modal {
  z-index: 9999 !important;
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    top: -4px;
    left: 32px;
    transform: none;
  }
}

.full { width: 100%; }

.navbar-fixed { z-index: 9999; }

.errors, .empties { display:none; }

.bold { font-weight: bold; }

.relative {
  position:relative;
}

label.fix {
  font-size: 1rem;
  color: #000;
  line-height: 58px;
}
[type="radio"]:not(:checked) + span, [type="radio"]:checked + span {
  padding: 0 10px 0 25px;
  color: #000;
}
.radios {
  padding-top: 18px;
}



a.lube-del {
  cursor: pointer;
}
.range {
  padding-left:45px;
}
.range-value {
  font-size: 24px;
  line-height: 45px;
  margin-right: 2px
}
.input-field i.prefix.range-valid {
  margin-top: 2px;
}
input[type="range"] {
  margin: 0;
}
input[type='range'], 
input[type='range']:focus, 
input[type='range']:active, 
input[type='range']::-moz-focus-inner, 
input[type='range']::-moz-focus-outer,
input[type='range']:-moz-focusring {
  border: 0;
  outline: none;
}
input[type="range"] + .thumb {
  display: none;
}

/* Remove controls from Safari and Chrome */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0; /* Removes leftover margin */
}

/* Remove controls from Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#plain ol {
  padding-left: 18px !important;
}
#plain ul {
  padding-left: 18px !important;
  list-style-type: disc !important;
}
#plain ul > li {
  list-style-type: disc !important;
}
#plain ul > li > ul > li {
  list-style-type: circle !important;
}

.long li {
  margin-bottom: 12px;
}
#plain h6 {
  font-weight: bold;
}
